.env
*__pycache__*
db.sqlite3
chat/migrations/
accounts/migrations/
events/migrations/
games/migrations/
tournaments/migrations/ 

chat_front.js
transcendance/chat/templates/
chat_json_formats.txt
chat_features
commit_useful_infos.txt

.vscode/
transcendance/out
redis_cache/
